NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_IPO_PROGRAM_ID=2P9ehfkHUgght4YmW43YG1vEqFatKa3zKAkaV5ona7wo
NEXT_PUBLIC_IPO_CONFIG=
NEXT_PUBLIC_IPO_MINT=
NEXT_PUBLIC_IPO_VAULT=
NEXT_PUBLIC_TREASURY_WALLET=
NEXT_PUBLIC_CORE_COLLECTION=
NEXT_PUBLIC_METADATA_BASE_URL=https://ipo-floor-insiders.vercel.app/api/metadata
