NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_IPO_PROGRAM_ID=9Gqg4yjDH34pgMXRTqxdJFbzvzeBBDkGvaJvb9kKRaPU
NEXT_PUBLIC_IPO_CONFIG=
NEXT_PUBLIC_IPO_MINT=
NEXT_PUBLIC_TREASURY_WALLET=
NEXT_PUBLIC_ASSET_TREASURY_WALLET=
NEXT_PUBLIC_CORE_COLLECTION=
NEXT_PUBLIC_METADATA_BASE_URL=https://ipo-floor-insiders.vercel.app/api/metadata
NEXT_PUBLIC_SITE_URL=https://ipo-floor-insiders.vercel.app
NEXT_PUBLIC_PUMP_EXECUTION_ENABLED=false
NEXT_PUBLIC_COIN_REWARD_VAULT=
NEXT_PUBLIC_DESK_REWARD_VAULT=
NEXT_PUBLIC_OPERATIONS_WALLET=
